name: PR Checks
on:
  pull_request:
    branches: ["main"]

jobs:
  on-pr-checks:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683
      - uses: actions/setup-python@a26af69be951a213d495a4c3e4e4022e16d87065
      - uses: pre-commit/action@2c7b3805fd2a0fd8c1884dcaebf91fc102a13ecd
      - uses: sbt/setup-sbt@234370af1319038bf8dc432f8a7e4b83078a1781
      - name: Run unit tests
        shell: bash
        run: |
          sbt test
